{% extends "Header.html" %}
  
{% block title %}Patient {% endblock title %}
  
{% block body %}
 <div class="col-md-12">
        <br>
        <center><a href="/add" class="btn btn-success">Add Patient</a></center>  
        <br>
        <br>
        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-bordered" width="100%">
        <thead>
            <th>id</th>
            <th>Nom</th>
            <th>date</th>
            <th>Type</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for p in patients %}
            <tr>  
                <td>{{ p.id }}</td>
                <td>{{ p.nom }}</td>
                <td>{{ p.date }}</td>
                <td>{{ p.type }}</td> 
                <td><a href="/update/{{ p.id }}" class="btn btn-info">edit </a>  <a href="/delete/{{ p.id }}" class="btn btn-danger"> delete</a></td>

              
            </tr>  
        {% endfor %} 
        
        </tbody>
        </table>
        </div>
    </div>
{% endblock body %}